{% extends 'base.html' %}

{% block title %}All Studies{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row text-center">
        {% if studies | length != 0 %}
          <h1 class="fw-normal">Registered Studies</h1>
        {% else %}
          <h3 class="fw-normal">There are no registered studies.</h3>
        {% endif %}
      </div>
      <div class="row justify-content-center mb-5 mt-2">
        <button type="button" class="col-md-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseWorkflow">
          Create New Study
        </button>
      </div>
      <div class="modal fade" id="chooseWorkflow" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="chooseWorkflowLabel">Choose Workflow and Configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{url_for('studies.choose_study_type')}}">
              <div class="modal-body">
                <div>
                  <p>
                    Which workflow would you like to run?
                  </p>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CHOOSE_STUDY_TYPE" id="mpcgwas" value="MPC-GWAS" checked="checked">
                    <label class="form-check-label" for="mpcgwas">
                      MPC-GWAS
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CHOOSE_STUDY_TYPE" id="sfgwas" value="SF-GWAS">
                    <label class="form-check-label" for="sfgwas">
                      SF-GWAS
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CHOOSE_STUDY_TYPE" id="pca" value="PCA">
                    <label class="form-check-label" for="pca">
                      SF-PCA
                    </label>
                  </div>
                  <div class="mt-2">
                    <small class="text-muted">
                      Note: If you are unsure which workflow to choose, you can read more about them on the
                      <a class="text-decoration-none" href="{{url_for('general.workflows')}}">Workflows</a>
                      page.
                    </small>
                  </div>
                </div>
                <hr>
                <div>
                  <p>
                    How do you want to have your GCP project configured?
                  </p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="SETUP_CONFIGURATION" id="website" value="website" checked="checked">
                    <label class="form-check-label" for="website">
                      Auto-configured
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="SETUP_CONFIGURATION" id="user" value="user">
                    <label class="form-check-label" for="user">
                      User-configured
                    </label>
                  </div>
                  <div class="mt-2">
                    <small class="text-muted">
                      Note: If you are unsure which configuration to choose, you can read more about them on the
                      <a class="text-decoration-none" href="{{url_for('general.instructions')}}">Instructions</a>
                      page.
                    </small>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row p-4 bg-light rounded text-center">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mine" type="button">
              My Studies
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#others" type="button">
              Public Studies
            </button>
          </li>
        </ul>

        <div class="row tab-content">
          <div class="container tab-pane fade show active" id="mine">
            <div class="row">
              {% if my_studies | length == 0 %}
                <div class="col-12 mt-4">
                  <p class="text-muted">
                    You are not currently participating in any studies.
                  </p>
                </div>
              {% else %}
                {% for study in my_studies %}
                  {% include 'studies/utils/display_study.html' %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="container tab-pane fade" id="others">
            <div class="row">
              {% if other_studies | length == 0 %}
                <div class="col-12 mt-4">
                  <p class="text-muted">
                    There are no public studies available.
                  </p>
                </div>
              {% else %}
                {% for study in other_studies %}
                  {% include 'studies/utils/display_study.html' %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
