{% extends 'base.html' %}

{% block title %}All Studies{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row text-center">
        {% if studies | length != 0 %}
          <h1 class="fw-normal">Registered Studies</h1>
        {% else %}
          <h3 class="fw-normal">There are no registered studies.</h3>
        {% endif %}
      </div>

      <div class="row justify-content-center mb-5 mt-2">
        <button type="button" class="col-md-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseWorkflow">
          Create New Study
        </button>
      </div>
      {% include 'studies/utils/choose_workflow.html' %}

      <div class="row py-4 text-center">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mine" type="button">
              My Studies
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#others" type="button">
              Public Studies
            </button>
          </li>
        </ul>

        <div class="row tab-content">
          <div class="container tab-pane fade show active" id="mine">
            <div class="row">
              {% if my_studies | length == 0 %}
                <div class="col-12 mt-4">
                  <p class="text-muted">
                    You are not currently participating in any studies.
                  </p>
                </div>
              {% else %}
                {% for study in my_studies %}
                  {% include 'studies/utils/display_study.html' %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="container tab-pane fade" id="others">
            <div class="row">
              {% if other_studies | length == 0 %}
                <div class="col-12 mt-4">
                  <p class="text-muted">
                    There are no public studies available.
                  </p>
                </div>
              {% else %}
                {% for study in other_studies %}
                  {% include 'studies/utils/display_study.html' %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
