<div>
  <b class="text-muted">
    Note: This tutorial uses the
    <span class="badge bg-auto-cfg">auto-configured</span>
    option. There is an equivalent tutorial for the
    <span class="badge bg-user-cfg">user-configured</span>
    option in the
    <a class="text-decoration-none" href="https://sfkit.readthedocs.io/en/latest/tutorial_2.html" target="_blank">sfkit CLI documentation</a>.
  </b>
</div>
<h4 class="my-4 fw-normal">Introduction</h4>
<div class="row">
  <p>
    This two-person tutorial is designed to guide you and a partner through the process of running a study using real genomic data. You'll both download sample data, configure your respective parts of the study, and execute a workflow together. For the purposes of this tutorial, we will refer to the two users as "User 1" and "User 2".
  </p>
  <p class="text-muted">
    Tip: We do recommend that you go through Tutorial 1 first, as this tutorial will assume you have some familiarity with the platform.
  </p>
  <span class="text-muted">
    Note: You can complete this tutorial on your own, but it's designed for two separate users. To achieve this, you can use various methods such as opening an incognito window for the second participant, using two different browser profiles, or using two distinct browsers.
  </span>
</div>

<h4 class="my-4 fw-normal">Sample Data</h4>
<div class="row">
  <p>For this tutorial, we will use simulated data based on the
    <a href="https://www.internationalgenome.org/data/" class="text-decoration-none" target="_blank">1000 Genomes Dataset</a>. The genotypes are from real data, while the covariates and phenotypes are simulated for an illustrative GWAS analysis.</p>
  <p>
    To begin, each user should download a set of sample data by clicking the appropriate link below. Choose a workflow, and ensure each participant downloads one set of data. Explanation of the data format can be found in the
    <a href="{{ url_for('general.instructions') }}#data_preparation" class="text-decoration-none" target="_blank">Data Preparation</a>
    section of the Instructions page.
  </p>

  <div class="row p-4 bg-light rounded">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#data-mpcgwas" type="button">MPC-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#data-sfgwas" type="button">SF-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#data-sfpca" type="button">SF-PCA Workflow</button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="container tab-pane fade" id="data-mpcgwas">
        <div class="row mt-4">
          <div class="d-flex justify-content-around align-items-center">
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='mpcgwas', party_id='1') }}">Party 1 MPC-GWAS Sample Data</a>
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='mpcgwas', party_id='2') }}">Party 2 MPC-GWAS Sample Data</a>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" id="data-sfgwas">
        <div class="row mt-4">
          <div class="d-flex justify-content-around align-items-center">
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='sfgwas', party_id='1') }}">Party 1 SF-GWAS Sample Data</a>
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='sfgwas', party_id='2') }}">Party 2 SF-GWAS Sample Data</a>
          </div>
        </div>
      </div>
      <div class="container tab-pane fade show active" id="data-sfpca">
        <div class="row mt-4">
          <div class="d-flex justify-content-around align-items-center">
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='pca', party_id='1') }}">Party 1 SF-PCA Sample Data</a>
            <a class="btn btn-secondary" href="{{ url_for('general.sample_data', workflow_type='pca', party_id='2') }}">Party 2 SF-PCA Sample Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<h4 class="my-4 fw-normal">Set Up Your Study</h4>
<div class="row">
  <p>
    User 1 should follow the steps in
    <a href="{{ url_for('general.tutorial') }}" class="text-decoration-none" target="_blank">
      Tutorial 1
    </a>
    to
    <a href="{{ url_for('studies.index') }}" class="text-decoration-none" target="_blank">
      create
    </a>
    their study. However, don't select "demo" this time (you can freely choose the other options)!
  </p>
  <p>For the parameters, each user will need to add their number of individuals (1252 each for this tutorial). User 2 will do this later when they join the study. Once this is all done, the parameters should like like the following:
  </p>

  <div class="row p-4 bg-light rounded">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#parameters-mpcgwas" type="button">MPC-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#parameters-sfgwas" type="button">SF-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#parameters-sfpca" type="button">SF-PCA Workflow</button>
      </li>
    </ul>
    <div class="row tab-content">
      <div class="container tab-pane fade" id="parameters-mpcgwas">
        <div class="row justify-content-center mt-2">
          <div class="col-md-6 mb-4 mb-md-0">
            <img class="img-fluid border border-secondary" src="static/images/sample_parameters/mpcgwas1.png" alt="">
          </div>
          <div class="col-md-6">
            <img class="img-fluid border border-secondary" src="static/images/sample_parameters/mpcgwas2.png" alt="">
          </div>
        </div>
      </div>
      <div class="container tab-pane fade" id="parameters-sfgwas">
        <div class="row justify-content-center mt-2">
          <div class="col-md-6 mb-4 mb-md-0">
            <img class="img-fluid border border-secondary" src="static/images/sample_parameters/sfgwas1.png" alt="">
          </div>
          <div class="col-md-6">
            <img class="img-fluid border border-secondary" src="static/images/sample_parameters/sfgwas2.png" alt="">
          </div>
        </div>
      </div>
      <div class="container tab-pane fade show active" id="parameters-sfpca">
        <div class="row justify-content-center mt-2">
          <div class="col-md-6">
            <img class="img-fluid border border-secondary" src="static/images/sample_parameters/sfpca.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <p>
      User 2 can then click the
      <button class="btn btn-outline-primary btn-sm" style="pointer-events: none;">Request to Join Study</button>
      button in the Studies page to request to join User 1's study.
    </p>
    <div class="text-center mb-2">
      <img class="img-fluid border border-secondary" style="max-width: 65%" src="static/images/tutorial/request_join.png" alt="">
    </div>
    <p>Once they have done so, User 1 can click the
      <button class="btn btn-outline-success btn-sm" style="pointer-events: none;">Approve Request</button>
      button to accept User 2 into their study.</p>
    <div class="text-center mb-2">
      <img class="img-fluid border border-secondary" style="max-width: 50%" src="static/images/tutorial/approve_request.png" alt="">
    </div>
    <p>
      <span class="text-muted">(Alternatively, User 1 can invite User 2 with the
        <button class="btn btn-outline-primary btn-sm" style="pointer-events: none;">Invite New Study Participant</button>
        button to send an invite link via email.)</span>
    </p>
    <p>
      Then both users will follow the instructions to
      <button class="btn btn-primary btn-sm" style="pointer-events: none;">Configure Study</button>. Note that this will require the users to use their own GCP projects, in contrast to the first tutorial.
      <span class="text-muted">(If you choose to use GCP's free trial, you can
        <a href="https://cloud.google.com/" class="text-decoration-none" target="_blank">
          create a new project for free
        </a>
        . That said, this free GCP project has limited resource quotas, so you may need to use a different GCP project for each user. The expected GCP resource cost of this tutorial is
      <$1.)</span>
    </p>
    <div class="text-center mb-1">
      <img class="img-fluid border border-secondary" style="max-width: 100%" src="static/images/tutorial/pca_prepare_project.png" alt="">
    </div>
    <p>Once the users have configured their GCP projects, they can upload their data to a GCP storage bucket.
      <span class="text-muted">Note: you will need to unzip your data before uploading it.</span></p>
    <div class="text-center mb-2">
      <img class="img-fluid border border-secondary" style="max-width: 100%" src="static/images/tutorial/pca_upload_data.png" alt="">
    </div>
    <p class="text-muted">
      Note: You need to click the
      <button class="btn btn-primary btn-sm" style="pointer-events: none;">Save</button>
      button for your configuration changes to take effect.
    </p>
    <p>For reference, your GCP storage bucket might look something like this:</p>
    <div class="text-center">
      <img class="img-fluid border border-secondary" style="max-width: 75%" src="static/images/tutorial/storage_bucket.png" alt="">
    </div>
  </div>
</div>
<h4 class="my-4 fw-normal">Execute the Workflow</h4>
<div class="row">
  <p>
    Once both users have configured their parts of the study, each user should click the
    <span class="btn btn-success btn-sm" style="pointer-events: none;">Begin PCA Workflow</span>
    button (or the equivalent for a different workflow) on their respective study pages (this is the same as in Tutorial 1). The study will run, and you'll be able to see its status on the study page. You may also inspect the newly created VM in your GCP project.
  </p>
</div>

<h4 class="my-4 fw-normal">Results</h4>
<div class="row">
  <p>
    The expected runtime for this tutorial is approximately 2 hours (feel free to leave the study page and come back). When the study is complete, each user will be able to download the results file with the association statistics (or principal components, in the case of the PCA workflow) by clicking the "<a class="text-decoration-none">Download results</a>" link on their respective study pages.
  </p>

  <div class="row p-4 bg-light rounded">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#results-mpcgwas" type="button">MPC-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#results-sfgwas" type="button">SF-GWAS Workflow</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#results-sfpca" type="button">SF-PCA Workflow</button>
      </li>
    </ul>
    <div class="row tab-content">
      <div class="container tab-pane fade" id="results-mpcgwas">
        <div class="text-center">
          <img class="img-fluid border border-secondary" style="max-width: 75%" src="static/images/tutorial/results_mpcgwas_1kg.png" alt="">
        </div>
      </div>
      <div class="container tab-pane fade" id="results-sfgwas">
        <div class="text-center">
          <img class="img-fluid border border-secondary" style="max-width: 75%" src="static/images/tutorial/results_sfgwas_1kg.png" alt="">
        </div>
      </div>
      <div class="container tab-pane fade show active" id="results-sfpca">
        <div class="text-center">
          <img class="img-fluid border border-secondary" style="max-width: 75%" src="static/images/tutorial/results_pca_1kg.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<h4 class="my-4 fw-normal">Conclusion</h4>
<div class="row">
  <p>
    Congratulations! You have successfully completed Tutorial 2. You should now have a better understanding of how to configure and execute a study with a partner using our platform. Feel free to explore other workflows and data types or to use the platform for your own research projects.
  </p>
</div>
