{% extends 'base.html' %}

{% block title %}How to Give Permissions{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="h1 fw-bold mb-5 text-center">How to Give Permissions</h1>
          <p class="lead text-muted mb-4">
            To run Secure GWAS on this portal, you need to give this service some permissions in your GCP project. To be more specific, we need permissions to set up the appropriate networking and create the virtual machines.
          </p>
          <p class="lead text-muted mb-4">
            The easiest way to do this is by going to the GCP console and running a command in the Cloud Shell. The command will create a new role with the appropriate permissions, and then it will attach the service account for this website to the role.
          </p>
          <p class="lead mb-4">Log into
            <a class="text-decoration-none" href="https://console.cloud.google.com">https://console.cloud.google.com</a>. Then click the icon in the top right to "Activate Cloud Shell". Once the Terminal is ready, please copy and run the following:
          </p>
          <div class="p-2 bg-light rounded">
            <button id="copy-button" data-bs-toggle="tooltip" data-bs-trigger='manual' style="position:relative;float:right" type="button" class="btn btn-outline-secondary btn-sm">
              Copy
            </button>
            <code id="gcloud-command" class="language-bash" data-lang="bash" style="font-size: 60%">
              <div>gcloud iam roles create secureGwasRole --project=$(gcloud config get-value project) \</div>
              <div>--title="Secure GWAS Role" --permissions=compute.disks.create,compute.firewallPolicies.create,\</div>
              <div>compute.firewallPolicies.get,compute.instances.create,compute.instances.delete,compute.instances.get,\</div>
              <div>compute.instances.list,compute.instances.setMetadata,compute.instances.setServiceAccount,\</div>
              <div>compute.instances.stop,compute.networks.access,compute.networks.addPeering,compute.networks.create,\</div>
              <div>compute.networks.get,compute.networks.list,compute.networks.removePeering,compute.networks.updatePolicy,\</div>
              <div>compute.subnetworks.create,compute.subnetworks.delete,compute.subnetworks.list,compute.subnetworks.use,\</div>
              <div>compute.subnetworks.useExternalIp,iam.serviceAccounts.actAs && \</div>
              <div>gcloud projects add-iam-policy-binding $(gcloud config get-value project) \</div>
              <div>--member=serviceAccount:419003787216-compute@developer.gserviceaccount.com \</div>
              <div>--role=projects/$(gcloud config get-value project)/roles/secureGwasRole</div>
            </code>
          </div>
          <br>
          <p class="lead mb-4">The console will ask for confirmation: type Y (for yes) and you're done. That's it!</p>

          <hr>

          <div>
            <h1 class="h1 fw-bold mb-2 text-center">FAQ</h1>
            <div>
              <h3>Why do we need these permissions?</h3>
              <p>We want to run GWAS while minimizing the access to your data. That is the reason we have this website/portal, rather than just sharing all the data and running plain-old GWAS.</p>
              <p>Therefore, we ask you to personally encrypt your data and upload it to your own GCP project. However, we still need
                <i>some</i>
                indirect access to this account, so that we can set up a VM (virtual machine) to run the GWAS protocol for you.</p>
              <p>And so, this is the single command that we need you to run to give us permission to set up a VM to run the GWAS</p>
            </div>
            <div>
              <h3>That shell command looks complicated though. What exactly is it doing?</h3>
              <p>The shell command is actually 2 commands put together. The first part creates a custom google IAM
                <a class="text-decoration-none" href="https://cloud.google.com/iam/docs/understanding-roles">role</a>
                that has permissions to set up a VM for GWAS.</p>
              <img class="img-fluid w-50" src="static/top_part.png" alt="">
              <p class="mt-3">The Second part assigns that role to this portal (or, to be precise, to the service account that runs this portal).</p>
              <img class="img-fluid w-50" src="static/bottom_part.png" alt="">
            </div>
            <div>
              <h3 class="mt-3">Okay. So what are all these permissions?</h3>
              <p>Let's go through the list, shall we?
                <ul>
                  <li>
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/disks/create">compute.disks.create</a>
                    is needed create a Compute Engine disk for the VM. This disk stores information such as the operating system, and so is required to create the virtual machine.
                  </li>
                  <li>
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/firewall-policies/rules/create">
                      compute.firewallPolicies.create
                    </a>and
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/firewallPolicies/get">
                      compute.firewallPolicies.get
                    </a>
                    are needed to set up the
                    <a class="text-decoration-none" href="https://cloud.google.com/firewalls">firewall</a>
                    rules for the VM so that it can interact with the other study participants' VMs during the protocol.
                  </li>
                  <li>
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/instances/create">compute.instances.create</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/instances/delete">compute.instances.delete</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/instances/get">compute.instances.get</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/instances/list">compute.instances.list</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/instances/setMetadata">compute.instances.setMetadata</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/instances/setServiceAccount">compute.instances.setServiceAccount</a>, and
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/instances/stop">compute.instances.stop</a>
                    are needed to set up the
                    <a class="text-decoration-none" href="https://cloud.google.com/compute">virtual machine</a>. This includes creating it, setting the metadata associated with it, and so on.
                  </li>
                  <li>
                    compute.networks.access,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/networks/addPeering">compute.networks.addPeering</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/networks/create">compute.networks.create</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/networks/get">compute.networks.get</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/sdk/gcloud/reference/compute/networks/list">compute.networks.list</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/networks/removePeering">compute.networks.removePeering</a>, and compute.networks.updatePolicy are needed to set up the
                    <a class="text-decoration-none" href="https://cloud.google.com/vpc/docs/vpc">VPC (Virtual Private Cloud) network</a>
                    that the VM will be in. This includes
                    <a class="text-decoration-none" href="https://cloud.google.com/vpc/docs/vpc-peering">VPC Network Peering</a>, which allows the VM to connect to the other study participants' VMs in a seamless fashion.
                  </li>
                  <li>compute.subnetworks.create,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks/delete">compute.subnetworks.delete</a>,
                    <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks/list">compute.subnetworks.list</a>, and compute.subnetworks.use, and compute.subnetworks.useExternalIp are needed to set up the
                    <a class="text-decoration-none" href="https://cloud.google.com/vpc/docs/vpc#vpc_networks_and_subnets">subnet</a>
                    that the VM will be in. This includes creating and using these subnets.
                  </li>
                  <li>
                    <a class="text-decoration-none" href="https://cloud.google.com/iam/docs/service-accounts-actas">iam.serviceAccounts.actAs</a>
                    is needed to act as a service account to do the various setup for the network and VM as described.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      // Get the Tooltip
      new bootstrap.Tooltip($('#copy-button'));
      let btn_tooltip = $('#copy-button');

      // Change Tooltip Text on mouse enter
      btn_tooltip.mouseenter(function () {
        btn_tooltip
          .attr('title', 'Copy to Clipboard')
          .tooltip('dispose');
        btn_tooltip.tooltip('show');
      });

      // remove tooltip when user moves mouse away
      btn_tooltip.mouseleave(function () {
        btn_tooltip
          .tooltip('dispose')
          .tooltip('hide');
      });

      // Update Tooltip and Copy Text on click
      btn_tooltip.click(function () {
        let copyText = $('#gcloud-command')
          .text()
          .replace(/^\s+/gm, ''); // Remove leading whitespace
        navigator
          .clipboard
          .writeText(copyText)
          .then(function () {
            btn_tooltip // Update tooltip text
              .attr('title', 'Copied!')
              .tooltip('dispose');
            btn_tooltip.tooltip('show');
          }, function () {
            console.log('Failure to copy. Check permissions for clipboard')
          });
      });
    });
  </script>
{% endblock %}
