{% extends 'base.html' %}

{% block title %}All Notifications{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <h1 class="h1">All Notifications</h1>
            <p class="text-start lead mb-0">Your new notifications:</p>
            {% for notification in new_notifications %}
              <div class="alert alert-primary" role="alert">
                {{ notification }}
              </div>
            {% endfor %}
            <p class="text-start lead mb-0">Your old notifications:</p>
            {% for notification in old_notifications %}
              <div class="alert alert-success" role="alert">
                {{ notification }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}