{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container col-12 col-lg-6">
      <div>
        <h2 class="mb-4 text-center fw-normal">Contact Us</h2>
        <hr>
        <h4 class="mt-4">Email</h4>
        <p>
          If you have any questions or comments, we would be happy to hear from you. To get in touch with our team, please reach us at
          <a class="text-decoration-none" href="mailto:support@sfkit.org">support@sfkit.org</a>.
        </p>

        <h4 class="mt-4">Source Code</h4>
        <p>
          Our source code is available on GitHub for anyone interested in learning more about our project or contributing to its development. You can find the repository by following this
          <a href="https://github.com/simonjmendelsohn/secure-gwas-website" class="text-decoration-none">link</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}