{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

  <div class="container">
    <div>
      <h3 class="fw-normal">Contact Us</h3>
      <p>
        Have a question? We'd love to hear from you. Send us a message and we'll respond as soon as possible. You can email us at
        <a class="text-decoration-none" href="mailto:smendels@broadinstitute.org">smendels@broadinstitute.org</a>.
      </p>

      <p>
        Our source code is also on github and can be accessed
        <a href="https://github.com/simonjmendelsohn/secure-gwas-website" class="text-decoration-none">here</a>.
      </p>
    </div>
  </div>

{% endblock %}
