{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container col-12 col-lg-6">
      <div>
        <h2 class="mb-4 text-center fw-normal">Contact Us</h2>
        <hr>
        <h4 class="mt-4">Email</h4>
        <p>
          If you have any questions or comments, we would be happy to hear from you. To get in touch with our team, please reach us at
          <a class="text-decoration-none" href="mailto:support@sfkit.org">support@sfkit.org</a>.
        </p>

        <h4 class="mt-4">Source Code</h4>
        <div>

          <p>
            Our source code is all available on GitHub for anyone interested in learning more about our project or contributing to its development. You can find our repositories by following the links below:
          </p>
          <ul>
            <li>
              <a href="https://github.com/hcholab/sfkit-website" class="text-decoration-none">https://github.com/hcholab/sfkit-website</a>
              - the source code for this website
            </li>
            <li>
              <a href="https://github.com/hcholab/sfkit" class="text-decoration-none">https://github.com/hcholab/sfkit</a>
              - the source code for the sfkit CLI
            </li>
            <li>
              <a href="https://github.com/hcholab/sfgwas" class="text-decoration-none">https://github.com/hcholab/sfgwas</a>
              - the source code for the secure-federated GWAS and PCA
            </li>
            <li>
              <a href="https://github.com/hcholab/secure-gwas" class="text-decoration-none">https://github.com/hcholab/secure-gwas</a>
              - the source code for the MPC-GWAS
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}