{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="p-5 bg-light rounded">
            <h1 class="h1 text-center">Profile</h1>
            {# include form with display name #}
            <form action="{{ url_for('general.edit_profile') }}" method="POST">
              <div class="mb-3">
                <label class="form-label" for="display_name">
                  <b>Display Name</b>
                </label>
                <input type="text" class="form-control" id="display_name" name="display_name" value="{{ display_name }}">
                <div class="form-text">This is the name that will be displayed on your posts.</div>
              </div>
              <p>
                <b>Username</b>
                <br>
                {{ g.user['id'] }}
              </p>
              {# About section #}
              <div class="mb-3">
                <label class="form-label mb-2" for="about">
                  <b>About</b>
                </label>
                <textarea class="form-control" id="about" name="about" rows="3">{{ profile["about"] }}</textarea>
                <div class="form-text">Role description. Only shown to other participants in studies you are in.</div>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
