{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-9 mx-auto">
          <h2 class="h1 fw-bold mb-5 text-center">Secure Biomedical Analysis</h2>
          <p class="lead text-muted mb-4">
            This is a portal for running privacy-preserving distributed computation on genomic data. It currently supports two workflows for GWAS (<b>MPC-GWAS</b>
            with Secure Multi-party Computation and
            <b>SF-GWAS</b>
            with Homomorphic Encryption) and one workflow for PCA (<b>SF-PCA</b>
            with Homomorphic Encryption).
          </p>
          <div>
            <img class="img-fluid" src="static/images/DNA.jpeg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 my-5">
          <div class="position-relative p-5 text-center bg-light rounded">
            <span class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white" style="width: 48px;height: 48px">1</span>
            <h4 class="fw-bold mb-3">Join</h4>
            <p class="lead text-muted">
              Create or join a secure study with your collaborators.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
          <div class="position-relative p-5 text-center bg-light rounded">
            <span class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white" style="width: 48px;height: 48px">2</span>
            <h4 class="fw-bold mb-3">Configure</h4>
            <p class="lead text-muted">
              Configure the study with your desired parameters and workflow.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
          <div class="position-relative p-5 text-center bg-light rounded">
            <span class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white" style="width: 48px;height: 48px">3</span>
            <h4 class="fw-bold mb-3">Run</h4>
            <p class="lead text-muted">
              Run the study and view and share your results.
            </p>
          </div>
        </div>

        <h3 class="text-center">Workflows</h3>
        <div class="my-3">
          <div class="position-relative p-3 bg-light rounded" id="SF-GWAS">
            <h4 class="fw-bold mb-3 text-center">SF-GWAS</h4>
            <p class="lead text-muted">
              This workflow is based on “Secure and Federated Genome-Wide Association Studies for Biobank-Scale Datasets”, which is currently under review (2022). It is a complete workflow for GWAS analysis, utilizing homomorphic encryption in addition to secret sharing. There are three major steps to the GWAS in this workflow. The first step is the Quality Control (QC). This filters out some lower quality data/samples. The second step is the Population Stratification via Principal Component Analysis (PCA). This step is meant to allow the GWAS to factor in/control for population differences when doing the associations. The third step is the Association Tests. This is where the actual associations between the phenotypes and genotypes are calculated.
            </p>
          </div>
        </div>
        <div class="my-3">
          <div class="position-relative p-3 bg-light rounded" id="SF-PCA">
            <h4 class="fw-bold mb-3 text-center">SF-PCA</h4>
            <p class="lead text-muted">
              This workflow consists of only Principal Component Analysis, using the same implementation as in the 2022 SF-GWAS workflow (phase 2). It is generalized here as its own workflow to allow for PCA in domains other than GWAS.
            </p>
          </div>
        </div>
        <div class="my-3">
          <div class="position-relative p-3 bg-light rounded" id="MPC-GWAS">
            <h4 class="fw-bold mb-3 text-center">MPC-GWAS</h4>
            <p class="lead text-muted">
              This workflows is based on the 2018 paper from nature biotechnology
              <a class="text-decoration-none" href="https://www.nature.com/articles/nbt.4108">Secure genome-wide association analysis using multiparty computation</a>
              . It is a complete workflow for GWAS analysis using secret sharing to allow for secure multiparty computation.
            </p>
          </div>
        </div>

        <p class="lead text-muted mt-0 mb-4">
          Go to the
          <a class="text-decoration-none" href="{{ url_for('general.instructions') }}">instructions</a>
          page for more information on the configuration options for each of these workflows. Go to the
          <a class="text-decoration-none" href="{{ url_for('studies.index') }}">Studies</a>
          page to get started with creating or joining a study.
        </p>

      </div>
    </div>
  </section>
{% endblock %}
