{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <h2 class="h1 fw-bold mb-5 text-center">Secure Biomedical Analysis</h2>
          <p class="lead text-muted mb-4">
            This is a portal for securely running GWAS and other biomedical and genomic analyses by distributing work among multiple parties. See the original paper
            <a class="text-decoration-none" href="https://www.nature.com/articles/nbt.4108">here</a>
            for details on the underlying implementation.
          </p>
          <div class="mb-5">
            <img class="img-fluid" src="static/images/gwas.jpeg" alt="">
          </div>

          <p class="lead text-muted mt-0 mb-4">
            What are you waiting for? Go to the
            <a class="text-decoration-none" href="{{ url_for('studies.index') }}">Studies</a>
            page and get started!
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
