{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">

      <h1 class="mb-4 text-center fw-normal"> <b>sfkit</b>: Secure Collaborative Genomics Portal</h1>
      <div class="col-12 col-lg-9 mx-auto">
        <h5 class="mb-5 text-center fw-normal">
          Unlocking biomedical discoveries through privacy-preserving collaboration
        </h5>

        <div class="row">
          <div class="text-center mb-5">
            <img class="img-fluid w-75" src="static/images/sfkit-cover.png" alt="Image failed to load">
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <h2 class="text-center fw-normal">Key Features of <b>sfkit</b></h2>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <h4 class="fw-bold mb-3">Privacy</h4>
          <p class="lead text-muted">
            Cryptographic analysis protocols keep datasets provably private
          </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <h4 class="fw-bold mb-3">Scalability</h4>
          <p class="lead text-muted">
            Advanced optimizations enable analysis of
            biobank-scale datasets
          </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <h4 class="fw-bold mb-3">Accuracy</h4>
          <p class="lead text-muted">
            Study results are comparable to analyzing a pooled dataset
          </p>
        </div>
      </div>
    </div>


    <div class="row mt-3">
        <h2 class="text-center fw-normal">Featured Workflows</h2>

        <div class="col my-5">
          <div class="position-relative p-5 text-center bg-light rounded">
            <h4 class="fw-bold mb-3">Genome-Wide Association Study (GWAS)</h4>
            <p class="lead text-muted">
              Identify genetic variants linked to disease or health-related traits
              across multiple datasets
            </p>
          </div>
        </div>
        <div class="col my-5">
          <div class="position-relative p-5 text-center bg-light rounded">
            <h4 class="fw-bold mb-3">Principal Component Analysis (PCA)</h4>
            <p class="lead text-muted">
              Obtain a unified representation of genetic ancestry of individuals in multiple datasets
            </p>
          </div>
        </div>
    </div>


    <div class="row mt-3">
      <h2 class="text-center fw-normal">General Process</h2>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <span
            class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white"
            style="width: 48px;height: 48px">1</span>
          <h4 class="fw-bold mb-3">Join</h4>
          <p class="lead text-muted">
            Create or join a study with your collaborators
          </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <span
            class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white"
            style="width: 48px;height: 48px">2</span>
          <h4 class="fw-bold mb-3">Configure</h4>
          <p class="lead text-muted">
            Configure your desired parameters and study workflow
          </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative p-5 text-center bg-light rounded">
          <span
            class="d-flex justify-content-center align-items-center position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white"
            style="width: 48px;height: 48px">3</span>
          <h4 class="fw-bold mb-3">Run</h4>
          <p class="lead text-muted">
            Run the study and view and share your results
          </p>
        </div>
      </div>
    </div>
    {# </a> #}

    <div class="row mt-3">
      <h2 class="text-center fw-normal">Ready to Start?</h2>
      <div class="col my-5">
        <div class="position-relative text-center rounded">
          <p class="lead text-muted">
            Review our <a class="text-decoration-none" href="{{ url_for('general.workflows') }}">Workflows</a>
            and <a class="text-decoration-none" href="{{ url_for('general.instructions') }}">Instructions</a>
            to learn more about the process  </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative text-center rounded">
          <p class="lead text-muted">
            Try out the
            <a class="text-decoration-none" href="{{ url_for('general.tutorial') }}">Tutorial</a>
            to see <b>sfkit</b> in action        </p>
        </div>
      </div>
      <div class="col my-5">
        <div class="position-relative text-center rounded">
          <p class="lead text-muted">
            Go to 
            <a class="text-decoration-none" href="{{ url_for('studies.index') }}">Studies</a>
             to create or join a study        </p>
        </div>
      </div>
    </div>


  </div>
</section>
{% endblock %}