{% extends 'base.html' %}

{% block title %}Instructions{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h2 class="h2 fw-bold mt-9 mb-5 text-center">General Instructions</h2>
      <div class="lead">
        <p>
          For each of the three workflows (<a class="text-decoration-none" href="{{ url_for('general.home', _anchor='SF-GWAS') }}">SF-GWAS</a>,
          <a class="text-decoration-none" href="{{ url_for('general.home', _anchor='SF-PCA') }}">SF-PCA</a>, and
          <a class="text-decoration-none" href="{{ url_for('general.home', _anchor='MPC-GWAS') }}">MPC-GWAS</a>), you have two options for how to set up your VM (virtual machine) and run your study:
        </p>
        <p>
          1. The
          <a class="text-decoration-none" href="https://sfkit.readthedocs.io/en/latest/tutorial.html">sfkit CLI</a>.
          <div>
            <img class="img-fluid" src="static/images/sfkit_diagram.png" alt="">
          </div>
        </p>
        <p>
          2. Have the website set up your VM and run your study for you. This will require you to give the website limited permissions to access your Google Cloud Platform (GCP) account. (You will be walked through the specifics of this process if you create a study using this option.)
        </p>
        <p>
          <strong>Option 1</strong>
          is recommended for users who are familiar with the command line and want to have more control over their VM.
          <strong>Option 2</strong>
          is recommended for users who are not familiar with the command line and/or want to get started quickly.
        </p>
      </div>
    </div>
  </section>
{% endblock %}