{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="p-5 bg-light rounded">
            <h1 class="h1 text-center">Profile</h1>
            <div class="mb-3">
              <p>
                <b>Display Name</b>
                <br>
                {{display_name}}
                {% if g.user["id"] == user_id %}
                  <a class="text-decoration-none" href="{{ url_for('general.edit_profile') }}">&ensp;Edit</a>
                {% endif %}
                <br>
              </p>

            </div>
            <p>
              <b>Username</b>
              <br>
              {{ user_id }}
            </p>
            {% if profile["about"] %}
              <div class="mb-3">
                <p>
                  <b>About</b>
                  <br>
                  {{ profile["about"] }}
                  {% if g.user["id"] == user_id %}
                    <a class="text-decoration-none" href="{{ url_for('general.edit_profile') }}">&ensp;Edit</a>
                  {% endif %}
                  <br>
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
