{% extends 'base.html' %}

{% block title %}Tutorials{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container col-12 col-lg-6">

      <h2 class="mb-4 text-center fw-normal">Tutorials</h2>

      <ul class="nav nav-tabs justify-content-center mb-4">
        <li class="nav-item">
          <a class="nav-link active" id="primary-tutorial-tab" data-bs-toggle="tab" href="#primary-tutorial">Tutorial 1 (Quick test for one user)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="2-person-tutorial-tab" data-bs-toggle="tab" href="#2-person-tutorial">Tutorial 2 (Examples with two users)</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="primary-tutorial" role="tabpanel" aria-labelledby="primary-tutorial-tab">
          {% include 'general/utils/primary_tutorial.html' %}
        </div>

        <div class="tab-pane fade" id="2-person-tutorial" role="tabpanel" aria-labelledby="2-person-tutorial-tab">
          {% include 'general/utils/two_person_tutorial.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      var hash = window.location.hash;
      if (hash) {
        $('.nav-tabs a[href="' + hash + '"]').tab('show');
      }
    });
  </script>
{% endblock %}