{% extends 'base.html' %}

{% block title %}Workflows{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4 text-center fw-normal">Workflows</h2>
      <hr>

      {# <div class="row">
        <p>
          There are three workflow options for a study.
        </p>
      </div> #}

      <h4 class="my-4 fw-normal">SF-GWAS (Secure-Federated Genome-Wide Association Studies)</h4>
      <div class="row">
        <p>
          This workflow is based on “Secure and Federated Genome-Wide Association Studies for Biobank-Scale Datasets”, which is currently under review (2022). It is a complete workflow for GWAS analysis, utilizing homomorphic encryption in addition to secret sharing. There are 3 major steps to the GWAS in this workflow:
        </p>
        <div>
          <ol class="">
            <li>Quality Control (QC) - Filter out some lower quality data/samples.</li>
            <li>Principal Component Analysis (PCA) - Perform PCA to control for population stratification, wherein there may be systematic differences in allele frequencies between subpopulations. If this step is not done, then these systematic differences may show up as false associations when performing association tests.</li>
            <li>Association Tests - Perform association tests to find associations between SNPs (genotypes) and traits (phenotypes).</li>
          </ol>
        </div>
      </div>

      <h4 class="my-4 fw-normal">SF-PCA (Secure-Federated Principal Component Analysis)</h4>
      <div class="row">
        <p>
          This workflow consists of only Principal Component Analysis, using the same implementation as in phase 2 of the SF-GWAS workflow (above). It is generalized here as its own workflow to allow for PCA in domains other than GWAS.
        </p>
      </div>

      <h4 class="my-4 fw-normal">MPC-GWAS (Multi-Party Computation Genome-Wide Association Studies)</h4>
      <div class="row">
        <p>
          This workflows is based on the 2018 paper from nature biotechnology
          <a class="text-decoration-none" href="https://www.nature.com/articles/nbt.4108">Secure genome-wide association analysis using multiparty computation</a>
          . It is a complete workflow for GWAS analysis using secret sharing to allow for secure multiparty computation.
        </p>
      </div>
    </div>
  </section>
{% endblock %}