{% extends 'base.html' %}

{% block title %}Workflow{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <h1 class="h1 fw-bold mb-5 text-center">Workflow Instructions</h2>
          <p class="text-muted">This page details the instructions for how to use this portal to securely run GWAS:</p>
          <div class="accordion" id="workflow">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-1">
                  1. Join Study
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-1 collapse-1-2">
                <div class="accordion-body">
                  <p>
                    Go to the
                    <a class="text-decoration-none" href="{{ url_for('studies.index') }}">Studies</a>
                    page and either create a new study or join an existing study.
                  </p>
                  <p class="text-muted">
                    Note: If you are creating a new study, you will also need to set study paramters. If you are joining a study, you should confirm that the configured study parameters are what you want.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-1-2">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-2">
                  2. Generate Keys
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-2 collapse-1-2 collapse-2-3">
                <div class="accordion-body">
                  <p>
                    1. On your computer, clone the
                    <a class="text-decoration-none" href="https://github.com/simonjmendelsohn/secure-gwas-keys-and-encryption">Secure GWAS Cryptographic Keys and Encryption</a>
                    repository (with
                    <code>git clone https://github.com/simonjmendelsohn/secure-gwas-keys-and-encryption.git</code>).
                  </p>
                  <p>
                    2. Install the dependencies for the repo with
                    <code>pip install -r requirements.txt</code>.
                  </p>
                  <p>
                    3. run
                    <code>python3 generate_personal_keys.py</code>
                    to generate your personal keys. Keep the private key somewhere safe, and upload the public key to your study's "User-Specific Parameters".
                  </p>
                  <p class="text-muted px-5">
                    What is this script doing?
                    <br><br>
                    <code>python3 generate_personal_keys.py</code>
                    generates a public key and a private key that are used for Public Key Encryption. It uses the PyNaCl library, which is a python binding for the popular trusted
                    <a href="https://doc.libsodium.org/" class="text-decoration-none">Sodium cryptography library.</a>
                    <br>See the
                    <a href="https://pynacl.readthedocs.io/en/latest/public/" class="text-decoration-none">PyNaCl documentation</a>
                    for more information.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-2-3">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-3">
                  3. Encrypt Data
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-3 collapse-2-3 collapse-3-4">
                <div class="accordion-body">
                  <p>
                    1. Copy down the other study participant's public key from the study page.
                    <strong>Note: you cannot proceed without this key.</strong>
                  </p>
                  <p>
                    2. Go back into the Secure GWAS Cryptographic Keys and Encryption repository on your local computer (you should have used it to generate keys in the previous step), and replace the contents of the "input_data" directory with your actual raw data.
                  </p>
                  <p>
                    3. Run
                    <code>python3 encrypt_data.py</code>
                    to encrypt your data.
                  </p>
                  <p class="text-muted px-5">
                    What is this script doing?
                    <br><br>
                    <code>python3 encrypt_data.py</code>
                    does three things.
                    <br>1. It uses your public key and the other participant's private key to generate two shared keys. These are keys accessible ONLY to you and the other participant, as they require one participant's private key and the other participant's public key to generate them. One shared key will be used to encrypt your data, and the other shared key will be used to encrypt the other participant's data.
                    <br>2. It uses one of the shared keys to make a cryptographically secure random number generator (rng). This rng generates random bytes that are subtracted from your data in order to encrypt your data.
                    <br>3. It converts the newly encrypted data into a special matrix format for convenience in running the GWAS.
                    <br>See the
                    <a href="https://pynacl.readthedocs.io/en/latest/secret/" class="text-decoration-none">PyNaCl documentation</a>
                    for more information.
                  </p>
                  <p>
                    4. Upload the encrypted data to a google cloud storage bucket in your GCP (Google Cloud Platform) project. If you are unfamiliar with Google Cloud Storage, see the google documentation
                    <a class="text-decoration-none" href="https://cloud.google.com/storage/docs/quickstart-console">here</a>. You should also update the "Personal Parameters" on your project's page with the name of your GCP project and the name of the storage bucket with your data.
                  </p>
                  <p class="text-muted px-5">
                    Note: You should have a unique GCP project for use with this portal. If you already have a GCP account, you should create a new project if you haven't already. If you are new to GCP, go to
                    <a href="https://console.cloud.google.com/" class="text-decoration-none">console.cloud.google.com</a>
                    and create an account.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-3-4">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-4">
                  4. Give Permissions
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-4 collapse-3-4 collapse-4-5">
                <div class="accordion-body">
                  <p>
                    Go to the
                    <a class="text-decoration-none" href="{{ url_for('general.permissions') }}">Permissions</a>
                    page and follow the instructions there to give this website the correct permissions to your GCP project.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-4-5">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-5">
                  5. Validate Data
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-5 collapse-4-5 collapse-5-6">
                <div class="accordion-body">
                  <p>
                    Go to your study, and confirm that all the "Shared Study Parameters" and "User-Specific Parameters" are as desired.
                    <br>When you are ready, click on the "Validate Data" button. This will validate that this portal is able to create a VM that can access your encyrpted data that you uploaded in step 3.
                    <br>It will also validate that your data is approximately the correct size, based on your study parameters.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-5-6">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-6">
                  5. Begin Workflow
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-6 collapse-5-6 collapse-6-7">
                <div class="accordion-body">
                  <p>
                    Go to your study, and confirm that all the "Shared Study Parameters" and "User-Specific Parameters" are as desired.
                    <br>When you are ready, click on the "Ready to begin GWAS?" button.
                    <br>Once all participants have done so, the protocol will begin.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-6-7">
                      Next
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-7">
                  6. Enjoy the Results
                </button>
              </h2>
              <div class="accordion-collapse collapse collapse-7 collapse-6-7 collapse-7-8">
                <div class="accordion-body">
                  <p>
                    Once the protocol is complete, the study page will indicate this with a "GWAS Completed!" status.
                    <br>You can then download the results (from your storage bucket in your GCP project) to share and analyze at your leisure.
                  </p>
                  <p class="text-end mb-0 mt-0">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-7-8">
                      Done
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
