<div class="col-4 my-2">
  <small class="text-muted">
    Created by
    {{ display_names.get(study['owner'], study['owner']) }}
    on
    {{ study['created'].strftime('%m-%d-%Y') }}
    {% if study["private"] %}
      (private)
    {% endif %}
  </small>
  <div>
    <h3 class="h3 mb-0">
      {% if g.user['id'] in study['participants'] or g.user['id'] == "developer" %}
        <a class="text-decoration-none" href="{{ url_for('studies.study', study_title=study['title']) }}">{{ study['title'] }}</a>
      {% else %}
        {{ study['title'] }}
      {% endif %}
    </h3>
    {% include 'studies/utils/study_configuration_badge.html' %}
  </div>
  <div class="my-2">{{ study['description'] }}</div>
  {% if g.user['id'] == study['owner'] or g.user['id'] == "developer" %}
    <form action="{{ url_for('studies.delete_study', study_title=study['title']) }}" method="post">
      <button class="btn btn-danger btn-sm" type="button submit" onclick="return confirm('Are you sure you want to delete this study?');">Delete Study</button>
    </form>
  {% elif study["invited_participants"] and g.user["id"] in study["invited_participants"]%}
    <form action="{{ url_for('studies.accept_invitation', study_title=study['title']) }}" method="post">
      <button class="btn btn-success btn-sm" type="button submit">Accept Invitation</button>
    </form>
  {% elif study['requested_participants'] and g.user['id'] in study['requested_participants'] %}
    <button type="button" class="btn btn-secondary btn-sm" disabled="true">Pending Approval from Study Owner</button>
  {% elif g.user['id'] not in study['participants'] %}
    {% if study["study_type"] == "MPC-GWAS" and study["participants"] | length == 3 %}
      <p>(This study is full)</p>
    {% else %}
      <div>
        {% set study_id = study['title'] | replace(' ', '') %}
        <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#requestJoinStudyModal{{ study_id }}">Request to Join Study</button>
        <div class="modal fade" id="requestJoinStudyModal{{ study_id }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="{{ url_for('studies.request_join_study', study_title=study['title']) }}" method="post">
                <div class="modal-header">
                  <h5 class="modal-title" id="requestJoinStudyModalLabel{{ study_id }}">Request to Join
                    <i>{{study['title']}}</i>
                    Study</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <div class="text-start text-muted">
                    <p>The creator of the study will be notified of your request.</p>
                  </div>
                  <div class="mb-3 form-floating">
                    <textarea class="form-control" id="requestJoinStudyModalMessage{{ study_id }}" name="message" placeholder="Leave a message for the study owner" style="height: 100px"></textarea>
                    <label for="requestJoinStudyModalMessage{{ study_id }}" class="form-label text-start">(optional) Message</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
