<div class="col-4 mb-5">
    <small class="text-muted">
    Created by
    {{ study['owner'] }}
    on
    {{ study['created'].strftime('%m-%d-%Y') }}
  </small> {% if g.user['id'] in study['participants'] %}
    <a class="text-decoration-none" href="{{ url_for('gwas.start', study_title=study['title']) }}">
        <h2 class="mt-2 fw-bold">{{ study['title'] }}</h2>
    </a>
    {% else %}
    <h2 class="mt-2 fw-bold">{{ study['title'] }}</h2>
    {% endif %}
    <p class="lead text-muted mb-1">{{ study['description'] }}</p>
    {% if g.user['id'] == study['owner'] %}
    <form action="{{ url_for('gwas.delete', study_title=study['title']) }}" method="post">
        <button class="btn btn-danger btn-sm" type="button submit" onclick="return confirm('Are you sure you want to delete this study?');">Delete Study</button>
    </form>
    {% elif g.user['id'] not in study['participants'] and g.user['id'] not in study['requested_participants'] %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseRole">
      Request to Join Study
    </button>
    <div class="modal fade" id="chooseRole" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chooseWorkflowLabel">Request to Join Study</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <p class="text-start fw-bold">What role will you play in the study?</p>
                        <div class="form-check text-start">
                            <input class="form-check-input" type="radio" name="role" id="studyParticipant" value="studyParticipant" checked="checked">
                            <label class="form-check-label" for="studyParticipant">
                  Study Participant (select if you have data to contribute)
                </label>
                        </div>
                        <div class="form-check text-start">
                            <input class="form-check-input" type="radio" name="role" id="computeParty" value="computeParty">
                            <label class="form-check-label" for="computeParty">
                  Compute Party
                </label>
                        </div>
                        <input type="hidden" id="study_title" name="study_title" value="{{ study['title'] }}">
                        <input type="submit" value="Submit Request" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% elif study['requested_participants'] and g.user['id'] in study['requested_participants'] %}
    <button type="button" class="btn btn-secondary" disabled="true">Pending Approval from Study Owner</button> {% endif %}
</div>