{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <h3 class="fw-bold mb-5">Log In</h3>
            <form method="post">
              <input class="form-control mb-2" name="username" type="text" placeholder="Username" autocomplete="off" required="required">
              <input class="form-control mb-2" name="password" type="password" placeholder="Password" autocomplete="off" required="required">
              <button class="btn btn-primary py-2 w-100 mb-2" type="submit">Log In</button>
              <input type="hidden" value="{{ request.args.get('next', '') }}"/>
            </form>
            <script src="https://accounts.google.com/gsi/client" async="async" defer="defer"></script>
            <div id="g_id_onload" data-client_id="419003787216-rcif34r976a9qm3818qgeqed7c582od6.apps.googleusercontent.com" data-context="signin" data-ux_mode="redirect" data-login_uri="{{ url_for('auth.login_with_google_callback') }}" data-auto_prompt="false"></div>
            <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_blue" data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
