{% extends 'base.html' %}

{% block title %}
  Edit "{{ user['email'] }}"
{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto text-center">
          <div class="p-5 bg-light rounded text-center">
            <h2 class="display-8 mt-2 mb-3">Edit configuration for
              {{ user['email'] }}:</h2>
            <form method="post">
              <div class="form-group text-start">
                <label for="gcp_project">GCP Project</label>
                <input class="form-control mb-3" name="gcp_project" id="gcp_project" value="{{ request.form['gcp_project'] or user['gcp_project'] }}" placeholder="GCP project name">
              </div>
              <div class="form-group text-start">
                <label for="public_key">Public Key</label>
                <input class="form-control mb-3" name="public_key" id="public_key" value="{{ request.form['public_key'] or user['public_key'] }}" placeholder="Public Key">
              </div>
              <div class="d-flex flex-wrap justify-content-center">
                <a href="{{ url_for('studies.index', id=g.user['id']) }}" class="btn btn-outline-secondary me-2 mb-2 mb-sm-0">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary me-2 mb-2 mb-sm-0">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
