{% extends 'base.html' %}

{% block title %}
  New Study
{% endblock %}

{% block content %}
  <section class="py-5 mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <h2 class="h2 display-7 fw-bold">Let's create a new GWAS study:</h2>
            <form method="post">
              <input class="form-control mt-4" name="title" id="title" value="{{ request.form['title'] }}" maxlength="50" required="required" placeholder="An Awesome Study Title">
              <textarea class="form-control mt-3" name="description" id="description" value="{{ request.form['description'] }}" required="required" placeholder="An awesome description for an awesome study."></textarea>
              <div class="mt-3">
                <a href="{{ url_for('gwas.index') }}" class="btn btn-outline-secondary me-2">Cancel</a>
                <input type="submit" value="Confirm" class="btn btn-primary me-2">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
