{% extends 'base.html' %}

{% block title %}All Projects{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-auto text-center">
          {% if projects | length != 0 %}
            <h2 class="display-5 fw-bold mt-2 mb-0">Registered Secure GWAS Projects</h2>
          {% else %}
            <h2 class="display-5 fw-bold mt-2 mb-0">There are no registered Secure GWAS Projects:</h2>
          {% endif %}
        </div>
      </div>
      <p class="row justify-content-center text-center lead text-muted mb-4">
        <button type="button" class="col-md-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseWorkflow">
          Create New Project
        </button>

        <div class="modal fade" id="chooseWorkflow" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="chooseWorkflowLabel">Choose Workflow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <a class="col-md-auto btn btn-primary" href="{{ url_for('gwas.create') }}">Secure GWAS Project</a>
              </div>
            </div>
          </div>
        </div>
      </p>
      <div class="row p-5 bg-light rounded text-center">
        <ul class="col-12 nav nav-tabs mb-3" role="tablist">
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#mine" type="button">My Projects</button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#others" type="button">Other Projects</button>
          </li>
        </ul>
        <div class="row tab-content">
          <div class="container tab-pane fade" id="mine">
            <div class="row">
              {% for project in projects %}
                {% if g.user['id'] in project['participants'] %}
                  {% include 'gwas/utils/display_project.html' %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="container tab-pane fade show active" id="others">
            <div class="row">
              {% for project in projects %}
                {% if g.user['id'] not in project['participants'] %}
                  {% include 'gwas/utils/display_project.html' %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
