{% extends 'base.html' %}

{% block title %}Parameters{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto text-center">
          <div class="p-5 bg-light rounded text-center">
            <h2 class="display-8 mt-0 mb-5">GWAS parameters for project "{{ project_title }}"</h2>
            <form method="post">
              {% for parameter_name in parameters["index"] %}
                <div class="row mb-3">
                  <label for="{{ parameter_name }}" class="col-sm-3 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{parameters[parameter_name]['description']}}">
                    {{parameters[parameter_name]['name']}}
                  </label>
                  <div class="col-sm-9">
                    <input type="number" step="any" class="form-control" name="{{parameter_name}}" id="{{parameter_name}}" min="0" value="{{ request.form['{{parameter_name}}'] or parameters[parameter_name]['value'] }}">
                  </div>
                </div>
              {% endfor %}
              <div class="d-flex flex-wrap justify-content-center">
                <a href="{{ url_for('gwas.start', project_title=project_title) }}" class="btn btn-outline-secondary me-2 mb-2 mb-sm-0">Cancel</a>
                <input type="submit" name="save" value="Save" class="btn btn-primary me-2 mb-2 mb-sm-0">
              </div>
            </form>
          </div>
        </div>
        <div class=""><br></div>
        <div class="col-12 col-lg-8 mx-auto text-center" id="pos">
          <div class="p-5 bg-light rounded text-center">
            <h2 class="display-8 mt-0 mb-2">pos.txt file</h2>
            <p class="mb-4">
              The pos.txt file contains the genomic positions of SNPs to be tested, and is considered public (shared here for all parties).
            </p>
            {% if pos_file_uploaded %}
              <p class="lead">
                The pos.txt file has already been uploaded! You can replace it by uploading a new one.
              </p>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
              <input type="file" name="file">
              <input type="submit" name="upload" value="Upload">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    var tooltipTriggerList = []
      .slice
      .call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>

  {% if request
    .args
    .get('section') %}
    <script>
      $(function () {
        $("html, body").animate({
          scrollTop: $("#{{ request.args.get('section') }}")
            .offset()
            .top
        }, 500);
      });
    </script>
  {% endif %}
{% endblock %}
