{% extends 'base.html' %}

{% block title %}
  Personal Parameters
{% endblock %}

{% block content %}
  <section class="container row">
    <div class="col-12 col-lg-8 mx-auto text-center p-3 rounded">
      <h2 class="h2 display-8 mt-0 mb-5">User-Specific Parameters for project "{{ project_title }}"</h2>
      <form method="post">

        <div class="row mb-3 p-3 bg-light">
          <h4 class="h4 text-start mb-3">General Parameters</h3>
          <label for="GCP_PROJECT" class="col-sm-3 col-form-label text-start">
            {{parameters['GCP_PROJECT']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="GCP_PROJECT" id="GCP_PROJECT" value="{{ request.form['GCP_PROJECT'] or parameters['GCP_PROJECT']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['GCP_PROJECT']['description']}}
          </p>
          <label for="BUCKET_NAME" class="col-sm-3 col-form-label text-start">
            {{parameters['BUCKET_NAME']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="BUCKET_NAME" id="BUCKET_NAME" value="{{ request.form['BUCKET_NAME'] or parameters['BUCKET_NAME']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['BUCKET_NAME']['description']}}
          </p>
        </div>

        <div class="row mb-3 p-3 bg-light">
          <h4 class="h4 text-start mb-3">Cryptography Parameters</h3>
          <label for="PUBLIC_KEY" class="col-sm-3 col-form-label text-start">
            {{parameters['PUBLIC_KEY']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="PUBLIC_KEY" id="PUBLIC_KEY" value="{{ request.form['PUBLIC_KEY'] or parameters['PUBLIC_KEY']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['PUBLIC_KEY']['description']}}
          </p>
        </div>

        <div class="row mb-3 p-3 bg-light">
          <h4 class="h4 text-start mb-3">GWAS Parameters</h3>

          <label for="NUM_INDS" class="col-sm-3 col-form-label text-start">
            {{parameters['NUM_INDS']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="number" class="form-control" name="NUM_INDS" id="NUM_INDS" min="0" value="{{ request.form['NUM_INDS'] or parameters['NUM_INDS']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['NUM_INDS']['description']}}
          </p>
        </div>

        <div class="d-flex flex-wrap justify-content-center">
          <a href="{{ url_for('gwas.start', project_title=project_title) }}" class="btn btn-outline-secondary me-2 mb-2 mb-sm-0">Cancel</a>
          <input type="submit" name="save" value="Save" class="btn btn-primary me-2 mb-2 mb-sm-0">
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      $('#NUM_CPUS').val($('#vm-size-data').data()['value']);
    });
  </script>
{% endblock %}
