{% extends 'base.html' %}

{% block title %}
  Personal Parameters
{% endblock %}

{% block content %}
  <section class="py-5 container row">
    <div class="col-12 col-lg-8 mx-auto text-center p-5 bg-light rounded">
      <h2 class="display-8 mt-0 mb-5">Personal GWAS parameters for project "{{ project_title }}"</h2>
      <form method="post">
        {% for parameter_name in parameters["index"] %}
          <div class="row mb-3">
            <label for="{{ parameter_name }}" class="col-sm-3 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{parameters[parameter_name]['description']}}">
              {{parameters[parameter_name]['name']}}
            </label>
            <div class="col-sm-9">
              <input type="text" step="any" class="form-control" name="{{parameter_name}}" id="{{parameter_name}}" min="0" value="{{ request.form['{{parameter_name}}'] or parameters[parameter_name]['value'] }}">
            </div>
          </div>
        {% endfor %}
        <div class="d-flex flex-wrap justify-content-center">
          <a href="{{ url_for('gwas.start', project_title=project_title) }}" class="btn btn-outline-secondary me-2 mb-2 mb-sm-0">Cancel</a>
          <input type="submit" name="save" value="Save" class="btn btn-primary me-2 mb-2 mb-sm-0">
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    var tooltipTriggerList = []
      .slice
      .call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
{% endblock %}