{% extends 'base.html' %}

{% block title %}Project Start?{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <span>
              <small class="text-muted">
                Created by
                {{ project['owner'] }}
                on
                {{ project['created'].strftime('%m-%d-%Y') }}
              </small>
            </span>
            <h2 class="mt-2 fw-bold">{{ project['title'] }}</h2>
            <p class="lead text-muted">{{ project['description']  }}</p>
            <div>
              Participants:
              {% for i in range(3) %}
                <br>
                <small class="text-muted ms-2 me-2">
                  {{project['participants'][i]}}
                  {% if i != 0 and public_keys[i]%}
                    : Public Key =
                    {{public_keys[i]}}
                  {% endif %}
                </small>
              {% endfor %}
            </div>
            <p>
              Not sure what to do next? Go to the
              <a href="{{url_for('general.workflow')}}" class="text-decoration-none">Workflow</a>
              page for the full instructions.
              <br>

            </p>
            <div class="edit-parameters">
              <a href="{{ url_for('gwas.parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit Project Parameters</a>
              <a href="{{ url_for('gwas.personal_parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit Personal Parameters</a>
            </div>
            {% if project["status"][role] == "not ready" %}
              <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                <button class="mt-2 btn btn-success" type="submit" onclick="loading();">
                  <div id="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>
                  <div id="normal-content">
                    Ready to begin GWAS?
                  </div>
                </button>
              </form>
            {% else %}
              <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                Status:
                {% if "not ready" in project["status"] %}
                  Waiting for others to be ready...
                {% else %}
                  {{ project["status"][role] }}
                {% endif %}
                <br>
                <button class="mt-2 btn btn-secondary" type="submit" onclick="loading();">
                  <div id="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>
                  <div id="normal-content">
                    Check for update?
                  </div>
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function loading() {
      $("#loading").show();
      $("#normal-content").hide();
    }
  </script>
{% endblock %}
