{% extends 'base.html' %}

{% block title %}Project Start?{% endblock %}

{% block content %}
  <meta id="project-title-data" data-value="{{ project['title'] }}">
  <meta id="role-data" data-value="{{ project['status'][role] }}">

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <span>
              <small class="text-muted">
                Created by
                {{ project['owner'] }}
                on
                {{ project['created'].strftime('%m-%d-%Y') }}
              </small>
            </span>
            <h2 class="mt-2 fw-bold">{{ project['title'] }}</h2>
            <p class="lead text-muted">{{ project['description']  }}</p>
            <div>
              Participants:
              {% for i in range(3) %}
                <br>
                <small class="text-muted ms-2 me-2">
                  {{project['participants'][i]}}
                  {% if i != 0 and public_keys[i]%}
                    : Public Key =
                    {{public_keys[i]}}
                  {% endif %}
                </small>
              {% endfor %}
            </div>
            <p>
              Not sure what to do next? Go to the
              <a href="{{url_for('general.workflow')}}" class="text-decoration-none">Workflow</a>
              page for the full instructions.
              <br>

            </p>
            <div class="edit-parameters">
              <a href="{{ url_for('gwas.parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit Project Parameters</a>
              <a href="{{ url_for('gwas.personal_parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit Personal Parameters</a>
            </div>
            {% if project["status"][role | string] == ["not ready"] %}
              <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                <button class="mt-2 btn btn-success" type="submit" onclick="loading();">
                  <div id="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>
                  <div id="normal-content">
                    Ready to begin GWAS?
                  </div>
                </button>
              </form>
            {% else %}
              <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                <br>
                Status:
                {% if "not ready" in project["status"] %}
                  Waiting for others to be ready...
                {% else %}
                  <div class="status text-start"></div>
                {% endif %}
                <br>
                <button class="mt-2 btn btn-secondary" type="submit" onclick="loading();">
                  <div id="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>
                  <div id="normal-content">
                    Check for update?
                  </div>
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function loading() {
      $("#loading").show();
      $("#normal-content").hide();
    }
  </script>

  <script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
    import {getFirestore, doc, onSnapshot} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-firestore.js";
    import {getAuth, signInWithCustomToken} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js"

    $(document).ready(function () {
      const firebaseConfig = {
        apiKey: "AIzaSyAJ5Ql7iZ4QMi640Xryx0YbBzwhGdGxKdE",
        authDomain: "broad-cho-priv1.firebaseapp.com",
        projectId: "broad-cho-priv1",
        storageBucket: "broad-cho-priv1.appspot.com",
        messagingSenderId: "419003787216",
        appId: "1:419003787216:web:1128a872a2eb31c00cfbd5",
        measurementId: "G-FV14RX2JXN",
        databaseURL: "",
        serviceAccount: "serviceAccountKey.json"
      };

      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      const custom_token = "{{g.custom_token}}";
      const auth = getAuth(app);
      signInWithCustomToken(auth, custom_token);

      var project_title = $('#project-title-data').data()['value'];
      var role = Number($('#role-data').data()['value']);
      const unsub = onSnapshot(doc(db, "projects", project_title), (doc) => {
        console.log("Current data: ", doc.data());
        console.log(doc.data()["status"]);
        console.log(doc.data()["status"][role]);
        $("div.status").html(doc.data()["status"][role].reduce((acc, curr) => acc + "<br>" + curr));
      });
    });
  </script>
{% endblock %}
