{% extends 'base.html' %}

{% block title %}Project Start?{% endblock %}

{% block content %}
  <meta id="project-title-data" data-value="{{ project['title'] }}">
  <meta id="role-data" data-value="{{ role }}">
  <meta id="num-cpus-data" data-value="{{ request.form['NUM_CPUS'] or parameters['NUM_CPUS']['value'] }}">

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="p-5 bg-light rounded text-center">
            <span>
              <small class="text-muted">
                Created by
                {{ project['owner'] }}
                on
                {{ project['created'].strftime('%m-%d-%Y') }}
              </small>
            </span>
            <h2 class="mt-2 fw-bold">{{ project['title'] }}</h2>
            <p class="lead text-muted">{{ project['description']  }}</p>
            <div class="mb-3">
              <div>
                <p class="fw-bold mb-0">Compute Party:</p>
                {{project['participants'][0]}}
              </div>
              <div>
                <p class="fw-bold mb-0">Study Participants:</p>
                {% for i in range(1, 3) %}
                  {% if project['participants'][i] != "" %}
                    Role
                    {{i}}:
                    {{project['participants'][i]}}
                    <small class="text-muted">
                      {% if public_keys[i]%}
                        <br>
                        Public Key =
                        {{public_keys[i]}}
                      {% endif %}
                    </small>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% if project['requested_participants'] %}
              <div class="mb-3">
                Requested Participants:
                {% for participant in project['requested_participants'] %}
                  <br>
                  <small class="text-muted ms-2 me-2">
                    {{ participant }}
                    <a href="{{ url_for('gwas.approve_join_project', project_name=project['title'], user_id=participant) }}" type="button" class="btn btn-sm btn-info">Approve Request</a>
                  </small>
                {% endfor %}
              </div>
            {% endif %}
            <p>
              Not sure what to do next? Go to the
              <a href="{{url_for('general.workflow')}}" class="text-decoration-none">Workflow</a>
              page for the full instructions.
              <br>
            </p>
            <div class="edit-parameters">
              <a href="{{ url_for('gwas.parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit Shared Project Parameters</a>
              <a href="{{ url_for('gwas.personal_parameters', project_title=project['title']) }}" class="btn btn-secondary">Edit User-Specific Parameters</a>
            </div>
            {% if project["status"][role | string] == [""] %}
              <a href="{{ url_for('gwas.validate_bucket', project_title=project['title']) }}" class="mt-2 btn btn-secondary">Validate Bucket</a>
            {% elif project["status"][role | string] == ["validating"] %}
              <div class="mt-2">
                Validating Bucket...
                <br>
                <a href="{{ url_for('gwas.start', project_title=project['title']) }}" class="btn btn-secondary">Check for update?</a>
              </div>
            {% elif project["status"][role | string] == ["not ready"] %}
              <button type="button" class="mt-2 btn btn-success" data-bs-toggle="modal" data-bs-target="#chooseWorkflow">
                Ready to begin GWAS?
              </button>
              <div class="modal fade" id="chooseWorkflow" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="chooseWorkflowLabel">Choose Virtual Machine Configuration</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body container">
                      <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                        <div class="text-start row">
                          <label for="BOOT_DISK_SIZE" class="col-sm-3 col-form-label">{{parameters['BOOT_DISK_SIZE']['name']}}</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" id="BOOT_DISK_SIZE" name="BOOT_DISK_SIZE" min="10" value="{{request.form['BOOT_DISK_SIZE'] or parameters['BOOT_DISK_SIZE']['value']}}">
                          </div>
                        </div>
                        <p class="mt-3 text-start text-muted">
                          {{parameters['BOOT_DISK_SIZE']['description']}}
                        </p>
                        <div class="text-start row">
                          <label for="NUM_CPUS" class="col-sm-3 col-form-label">
                            {{parameters['NUM_CPUS']['name']}}
                          </label>
                          <div class="col-sm-9">
                            <select class="form-select" name="NUM_CPUS" id="NUM_CPUS" value="{{ request.form['NUM_CPUS'] or parameters['NUM_CPUS']['value'] }}">
                              <option value="2">2</option>
                              <option value="4">4</option>
                              <option value="8">8</option>
                              <option value="16">16</option>
                              <option value="32">32</option>
                              <option value="64">64</option>
                              <option value="128">128</option>
                            </select>
                          </div>
                        </div>
                        <p class="mt-3 text-start text-muted">
                          {{parameters['NUM_CPUS']['description']}}
                        </p>
                        <button class="mt-2 btn btn-primary" type="submit" onclick="loading();">
                          <div id="loading" style="display:none">
                            <span class="spinner-grow spinner-grow-sm" role="status"></span>
                            Loading...
                          </div>
                          <div id="normal-content">
                            Confirm Virtual Machine Configuration
                          </div>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <form action="{{ url_for('gwas.start', project_title=project['title']) }}" method="post">
                <br>
                Status:
                {% if ((["not ready"] in project["status"].values())or([""] in project["status"].values())or(["invalid data"] in project["status"].values())or(["validating"] in project["status"].values())) %}
                  Waiting for others to be ready...
                {% else %}
                  <div class="status text-start"></div>
                {% endif %}
                <br>
                <button class="mt-2 btn btn-secondary" type="submit" onclick="loading();">
                  <div id="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>
                  <div id="normal-content">
                    Check for update?
                  </div>
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function loading() {
      $("#loading").show();
      $("#normal-content").hide();
    }
  </script>

  <script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
    import {getFirestore, doc, onSnapshot} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-firestore.js";
    import {getAuth, signInWithCustomToken} from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js"

    $(document).ready(function () {
      $('#NUM_CPUS').val($('#num-cpus-data').data()['value']);

      const firebaseConfig = {
        apiKey: "AIzaSyAJ5Ql7iZ4QMi640Xryx0YbBzwhGdGxKdE",
        authDomain: "broad-cho-priv1.firebaseapp.com",
        projectId: "broad-cho-priv1",
        storageBucket: "broad-cho-priv1.appspot.com",
        messagingSenderId: "419003787216",
        appId: "1:419003787216:web:1128a872a2eb31c00cfbd5",
        measurementId: "G-FV14RX2JXN",
        databaseURL: "",
        serviceAccount: "serviceAccountKey.json"
      };

      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      const custom_token = "{{g.custom_token}}";
      const auth = getAuth(app);
      signInWithCustomToken(auth, custom_token);

      var project_title = $('#project-title-data')
        .data()['value']
        .toLowerCase()
        .replace(/\s/g, '');
      var role = Number($('#role-data').data()['value']);
      const unsub = onSnapshot(doc(db, "projects", project_title), (doc) => {
        console.log("Current data: ", doc.data());
        console.log(doc.data()["status"]);
        console.log(doc.data()["status"][role]);
        $("div.status").html(doc.data()["status"][role].reduce((acc, curr) => acc + "<br>" + curr));
      });
    });
  </script>
{% endblock %}
