{% macro instruction_step(i, title, collapsed="collapsed", show="") -%}
  <div class="text-start">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button {{collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-{{i}}">
          {{i}}.
          {{title}}
        </button>
      </h2>
      <div id="collapse-{{i}}" class="{{show}} accordion-collapse collapse collapse-{{i}} collapse-{{i-1}}-{{i}} collapse-{{i}}-{{i+1}}">
        <div class="accordion-body">
          {{ caller() }}
          <p class="text-end mb-0 mt-0">
            {% if i != 0 %}
              <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-{{i-1}}-{{i}}">
                Previous
              </button>
            {% endif %}

            {% if i == 4 %}
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
            {% else %}
              <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-{{i}}-{{i+1}}">
                Next
              </button>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}

<div class="accordion" id="accordion">

  {% set i = namespace(value = 0) %}
  {% call instruction_step(i.value, "Prepare Project", collapsed = "", show = "show") %}
  <div>
    {% set i.value = i.value + 1 %}
    {# {% if study_type == "MPCGWAS" %}
      <p>0. If you don't already have them, you will need to install
        <a class="text-decoration-none" href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git">Git</a>
        and
        <a class="text-decoration-none" href="https://www.python.org/downloads/">Python3</a>.
      </p>
    {% endif %} #}
    {% if study["demo"] %}
      <div class="alert alert-info" role="alert">
        <p class="mb-0">
          <img src="../static/images/info-square.svg" class="me-1 mb-1" width="20" height="20" alt="info-square">
          This step can be skipped if you are following the tutorial and using the default GCP Project.
        </p>
      </div>
    {% endif %}
    <p>1. You should create a GCP (Google Cloud Platform) project that is dedicated to this study. If you are new to GCP, go to
      <a href="https://console.cloud.google.com/" class="text-decoration-none">console.cloud.google.com</a>
      and create an account and a project.
      <p class="px-2 mb-0">1a. You need to have the
        <code>gcloud.iam.roles.create</code>
        permission in your GCP project. If you are the owner/creator of the project, this is automatically given.</p>
      <p class="px-2 mt-0 mb-0">If you are within an organization such that you are not the owner, please talk to your administrator to get the appropriate role.</p>
      <p class="px-2 mt-0">This could be "owner", but there are also other roles (such as "Project IAM Admin") that have this permission.</p>
      <p class="px-2">1b. You need to enable the
        <a class="text-decoration-none" href="https://cloud.google.com/compute/docs/reference/rest/v1">Compute Engine API</a>
        in your GCP account. If you don't know how to enable an API, see the Google documentation
        <a href="https://cloud.google.com/endpoints/docs/openapi/enable-api" class="text-decoration-none">here</a>
      </p>
    </p>
  </div>
  {% endcall %}

  {% call instruction_step(i.value, "Upload Data") %}
  <div>
    {% set i.value = i.value + 1 %}
    {% if study["demo"] %}
      <div class="alert alert-info" role="alert">
        <p class="mb-0">
          <img src="../static/images/info-square.svg" class="me-1 mb-1" width="20" height="20" alt="info-square">
          This step can be skipped if you are following the tutorial and using the default GCP Project.
        </p>
      </div>
    {% endif %}
    <p>
      1. Upload your data to a google cloud storage bucket in your GCP (Google Cloud Platform) project. If you are unfamiliar with Google Cloud Storage, see the google documentation
      <a class="text-decoration-none" href="https://cloud.google.com/storage/docs/quickstart-console">here</a>
      (The default configuration/settings for the bucket are fine. If you would like to choose a specific region, it is recommended that you choose us-central1 (Iowa), as the default.).
    </p>
    <p>
      2. Please set the following user-specific parameters:
      <form method="post" action="{{url_for('studies.personal_parameters', study_title=study['title'])}}">
        <div class="row mb-3 p-3 bg-light">
          <label for="GCP_PROJECT" class="col-sm-3 col-form-label text-start">
            {{parameters['GCP_PROJECT']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="GCP_PROJECT" id="GCP_PROJECT" value="{{ request.form['GCP_PROJECT'] or parameters['GCP_PROJECT']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['GCP_PROJECT']['description']}}
          </p>
          <label for="DATA_PATH" class="col-sm-3 col-form-label text-start">
            {{parameters['DATA_PATH']['name']}}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="DATA_PATH" id="DATA_PATH" value="{{ request.form['DATA_PATH'] or parameters['DATA_PATH']['value'] }}">
          </div>
          <p class="mt-3 text-start text-muted">
            {{parameters['DATA_PATH']['description']}}
          </p>
          {% if study_type == "SFGWAS" %}
            <label for="GENO_BINARY_FILE_PREFIX" class="col-sm-3 col-form-label text-start">
              {{parameters['GENO_BINARY_FILE_PREFIX']['name']}}
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="GENO_BINARY_FILE_PREFIX" id="GENO_BINARY_FILE_PREFIX" value="{{ request.form['GENO_BINARY_FILE_PREFIX'] or parameters['GENO_BINARY_FILE_PREFIX']['value'] }}">
            </div>
            <p class="mt-3 text-start text-muted">
              {{parameters['GENO_BINARY_FILE_PREFIX']['description']}}
            </p>
          {% endif %}
          {# <label for="NUM_INDS" class="col-sm-3 col-form-label text-start">
              {{parameters['NUM_INDS']['name']}}
            </label>
            <div class="col-sm-9">
              <input type="number" class="form-control" name="NUM_INDS" id="NUM_INDS" min="0" value="{{ request.form['NUM_INDS'] or parameters['NUM_INDS']['value'] }}">
            </div>
            <p class="mt-3 text-start text-muted">
              {{parameters['NUM_INDS']['description']}}
            </p> #}
          <div class="d-flex flex-wrap justify-content-center">
            <input type="submit" name="save" value="Save" class="btn btn-primary me-2 mb-2 mb-sm-0">
          </div>
        </div>
      </form>
    </p>
  </div>
  {% endcall %}

  {% call instruction_step(i.value, "Give Permissions") %}
  {% set i.value = i.value + 1 %}
  {% if study["demo"] %}
    <div class="alert alert-info" role="alert">
      <p class="mb-0">
        <img src="../static/images/info-square.svg" class="me-1 mb-1" width="20" height="20" alt="info-square">
        This step can be skipped if you are following the tutorial and using the default GCP Project.
      </p>
    </div>
  {% endif %}
  {% include 'studies/study/permissions.html' %}
  {% endcall %}

  {% call instruction_step(i.value, "Choose VM Size") %}
  {% set i.value = i.value + 1 %}
  {% if study["demo"] %}
    <div class="alert alert-info" role="alert">
      <p class="mb-0">
        <img src="../static/images/info-square.svg" class="me-1 mb-1" width="20" height="20" alt="info-square">
        This step can be skipped if you are following the tutorial and using the default GCP Project.
      </p>
    </div>
  {% endif %}
  <p>
    1. Choose the Virtual Machine (VM) size that you would like to use for your study. The VM size determines the amount of memory and CPU cores that will be available to your study. The VM size also determines the cost of your study. If you would like guidance on what size machine to use, see the
    <a class="text-decoration-none" href=" {{url_for('general.instructions', _anchor='machine_recommendations')}} ">Machine Recommendations</a>
    section in the instructions page.
    <form method="post" action="{{url_for('studies.personal_parameters', study_title=study['title'])}}">
      <div class="text-start row">
        <label for="NUM_CPUS" class="col-sm-3 col-form-label">
          {{parameters['NUM_CPUS']['name']}}
        </label>
        <div class="col-sm-9">
          <select class="form-select" name="NUM_CPUS" id="NUM_CPUS" value="{{ request.form['NUM_CPUS'] or parameters['NUM_CPUS']['value'] }}">
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="64">64</option>
            <option value="128">128</option>
          </select>
        </div>
      </div>
      <p class="mt-3 text-start text-muted">
        {{parameters['NUM_CPUS']['description']}}
      </p>

      <div class="text-start row">
        <label for="BOOT_DISK_SIZE" class="col-sm-3 col-form-label">{{parameters['BOOT_DISK_SIZE']['name']}}</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="BOOT_DISK_SIZE" name="BOOT_DISK_SIZE" min="10" max="10000" value="{{request.form['BOOT_DISK_SIZE'] or parameters['BOOT_DISK_SIZE']['value']}}">
        </div>
      </div>
      <p class="mt-3 text-start text-muted">
        {{parameters['BOOT_DISK_SIZE']['description']}}
      </p>

      <div class="text-center">
        <button class="mt-2 btn btn-primary" type="submit">
          Confirm Virtual Machine Configuration
        </button>
      </div>
    </form>
  </p>
  {% endcall %}

  {% call instruction_step(i.value, "Post-Processing") %}
  {% set i.value = i.value + 1 %}
  {% if study["demo"] %}
    <div class="alert alert-info" role="alert">
      <p class="mb-0">
        <img src="../static/images/info-square.svg" class="me-1 mb-1" width="20" height="20" alt="info-square">
        This step can be skipped if you are following the tutorial and using the default GCP Project.
      </p>
    </div>
  {% endif %}
  <div>
    <p>
      Options for what happens on protocol completion:
    </p>
  </div>
  <div>
    <form method="post" action="{{url_for('studies.personal_parameters', study_title=study['title'])}}">
      <div class="text-start row">
        <label for="DELETE_VM" class="col-sm-3 col-form-label">
          {{parameters.get('DELETE_VM', {}).get('name')}}
        </label>
        <div class="col-sm-9">
          <select class="form-select" name="DELETE_VM" id="DELETE_VM" value="{{ parameters.get('DELETE_VM', {}).get('value') or request.form['DELETE_VM'] }}">
            <option value="Yes">Yes</option>
            <option value="No" {% if parameters.get('DELETE_VM', {}).get('value') == 'No' %} selected="selected" {% endif %}>No</option>
          </select>
        </div>
      </div>
      <p class="mt-3 text-start text-muted">
        {{parameters.get('DELETE_VM', {}).get('description')}}
      </p>

      <div class="text-start row">
        <label for="SEND_RESULTS" class="col-sm-3 col-form-label">
          {{parameters.get('SEND_RESULTS', {}).get('name')}}
        </label>
        <div class="col-sm-9">
          <select class="form-select" name="SEND_RESULTS" id="SEND_RESULTS" value="{{ request.form['SEND_RESULTS'] or parameters.get('SEND_RESULTS', {}).get('value') }}">
            <option value="Yes">Yes</option>
            <option value="No" {% if parameters.get('SEND_RESULTS', {}).get('value') == 'No' %} selected="selected" {% endif %}>No</option>
          </select>
        </div>
      </div>
      <p class="mt-3 text-start text-muted">
        {{parameters.get('SEND_RESULTS', {}).get('description')}}
      </p>

      <div class="text-center">
        <button class="mt-2 btn btn-primary" type="submit">
          Confirm Post-Processing Configuration
        </button>
      </div>
    </form>
  </div>
  {% endcall%}

</div>
