<div class="my-1">
  <div class="mb-1">
    <div>
      <p class="fw-bold mb-0">Study Participants:</p>
      {% for participant in study['participants'] %}
        {% if participant != "Broad" %}
          <a class="text-decoration-none" href="{{url_for('general.profile', user_id=participant)}}">{{display_names.get(participant, participant)}}</a>
          {% if participant == study["owner"] %}
            <span class="badge bg-secondary">Study Creator</span>
          {% endif %}
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if study['requested_participants'] %}
    <div class=" mb-1">
      Requested Participants:
      {% for participant in study['requested_participants'] %}
        <br>
        <small class="text-muted ms-2 me-2">
          {{ participant }}
          <a href="{{ url_for('studies.approve_join_study', study_title=study['title'], user_id=participant) }}" type="button" class="btn btn-sm btn-info">Approve Request</a>
        </small>
      {% endfor %}
    </div>
  {% endif %}

  {% if study["participants"] | length < 3%}
    <div>
      <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#invite_participant_modal">Invite New Study Participant</button>
      <div class="modal fade" id="invite_participant_modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="invite_participant_modal_label">Invite New Study Participant</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="{{ url_for('studies.invite_participant', study_title=study['title']) }}" method="POST">
              <div class="modal-body">
                <div class="text-start text-muted">
                  <p>An invitation to join this study will be sent to this email.</p>
                </div>
                <div class="mb-3 form-floating">
                  <input type="email" class="form-control" id="invite_participant_email" name="invite_participant_email" placeholder="name@example.com" required="required">
                  <label for="invite_participant_email" class="form-label text-start">Email address</label>
                </div>
                <div class="mb-3 form-floating">
                  <textarea class="form-control" id="invite_participant_message" name="invite_participant_message" placeholder="Leave a message here" style="height: 100px"></textarea>
                  <label for="invite_participant_message" class="form-label text-start">(optional) Message</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>