{% extends 'base.html' %}
{% block title %}Study Start?{% endblock %}
{% block content %}
  <meta id="study-title-data" data-value="{{ study['title'] }}">
  <meta id="id-data" data-value="{{ g.user['id'] }}">
  <meta id="num-cpus-data" data-value="{{ request.form['NUM_CPUS'] or parameters['NUM_CPUS']['value'] }}">

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="p-5 bg-light rounded text-center">

            <div class="mt-0 mb-3">
              <span>
                <small class="text-muted">
                  Created by
                  {{ study['owner'] }}
                  on
                  {{ study['created'].strftime('%m-%d-%Y') }}
                </small>
              </span>
              <h2 class="fw-bold mb-0">{{ study['title'] }}</h2>
              <p class="lead text-muted mb-1">{{ study['description'] }}</p>
              {% include 'studies/study/study_information.html'%}
            </div>

            {% include 'studies/study/participants.html'%}

            <div class="my-3" id="instructions">
              {% if parameters['CONFIGURE_STUDY_GCP_SETUP_MODE']['value'] == "" %}
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#configure_study_gcp_setup_mode_modal">Configure Study</button>
                {% include 'studies/study/configure_study_gcp_setup_mode.html' %}
              {% elif parameters['CONFIGURE_STUDY_GCP_SETUP_MODE']['value'] == "website" %}
                {# {% if study["status"][g.user["id"]] == [""] or study["status"][g.user["id"]] == ["validating"] %}
                  <div class="mt-2">
                    <button type="button" class="mt-2 btn btn-success" data-bs-toggle="modal" data-bs-target="#vmConfig" disabled="disabled">
                      Begin
                      {{ study_type }}
                      Workflow
                    </button>
                    <p>You must finish configuring your study before you can begin the
                      {{ study_type }}
                      workflow</p>
                  </div> #}
                {% if study["status"][g.user["id"]] == ["not ready"] or study["status"][g.user["id"]] == [""] %}
                  <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#configure_study_modal">Configure Study</button>
                    <div class="modal fade" id="configure_study_modal" tabindex="-1">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="configure_study_modal_label">Configure your
                              {{ study_type }}
                              Study</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            {% include 'studies/study/instructions.html' %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% include 'studies/study/begin_workflow.html' %}
                {% else %}
                  <div>
                    <p class="text-start">
                      <b>Status of study:</b>
                    </p>
                    {% if ((["not ready"] in study["status"].values())or([""] in study["status"].values())or(["invalid data"] in study["status"].values())or(["validating"] in study["status"].values())) %}
                      <p>Waiting for others to be ready...</p>
                    {% else %}
                      <div class="status text-start"></div>
                    {% endif %}
                    <form action="{{ url_for('studies.start_protocol', study_title=study['title']) }}" method="POST">
                      <button type="submit" class="btn btn-secondary">Check for update</button>
                    </form>
                  </div>
                {% endif %}
                {# {% else %}
                {% if parameters['SA_EMAIL']['value'] == "" %}
                  <form class="mt-5 mb-2" method="post" action="{{url_for('studies.set_sa_email', study_title=study['title'])}}">
                    <p class="float-start text-start mb-0">Please enter the service account email for your GCP VM:</p>
                    <p>
                      <small class="text-muted float-start text-start">(This can be obtained with the
                        <code>gcloud auth list</code>
                        command in your VM)</small>
                    </p>
                    <input class="form-control mb-2" name="SA_EMAIL" type="email" placeholder="Service Account Email" autocomplete="off">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <small class="float-start text-start text-muted">Note: If you are deciding what VM size you want/need, we generally recommend using the e2-highmem-16 (16 vCPUs, 128 GB memory) as a reasonable default (estimated cost of ~$20). This size has worked well for us on datasets with &lt;30,000 samples and &lt;700,000 SNPs for SFGWAS. If you are running a larger dataset, you may need to increase the size of the VM. On a dataset with ~10 million SNPs, we have used the larger n2-highmem-64 or n2-highmem-128. If you are running a smaller dataset, you may be able to get away with a smaller VM. Feel free to reach out if you have further questions or concerns.</small>
                {% else %}
                  <h5>Please proceed with the CLI tool with
                    <i>`pip install sfkit`</i>
                    on your GCP VM. For more details, see the tutorial
                    <a class="text-decoration-none" href="https://sfkit.readthedocs.io/en/latest/tutorial.html#cli">here</a>.</h5>
                {% endif %} #}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    function loading() {
      $(".loading").show();
      $(".normal-content").hide();
    }
  </script>

  <script>
    $(document).ready(function () {
      $('#NUM_CPUS').val($('#num-cpus-data').data()['value']);
    });
  </script>

  <script type="module">
    // get the status updates from firestore
    import {getStatusUpdates} from "/static/javascript/firestore.js";

    var study_title = document
      .getElementById("study-title-data")
      .attributes["data-value"]
      .value
      .toLowerCase()
      .replace(/\s/g, '');

    getStatusUpdates(window.firestoreDatabase, study_title, window.user_id);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/save_page_state.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/copy_button.js') }}"></script>
{% endblock %}
