{% extends 'base.html' %}
{% block styling %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/study.css') }}">
{% endblock %}
{% block title %}Study{% endblock %}
{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="p-4 bg-light rounded text-center">

            <div class="d-flex justify-content-between">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <button class="nav-link {% if default_tab == 'main_study' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#main_study" type="button">
                    Main
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link {% if default_tab == 'chat_study' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#chat_study" type="button">
                    Chat
                  </button>
                </li>
              </ul>

              <form action="{{ url_for('studies.restart_study', study_title=study['title']) }}" method="POST">
                <button class="btn btn-secondary" type="submit" onclick="loading(this);">
                  <div class="loading" style="display:none">
                    <span class="spinner-grow spinner-grow-sm" role="status"></span>
                    Deleting resources (may take a minute)...
                  </div>
                  <div class="normal-content">
                    Restart Study
                  </div>
                </button>
              </form>
            </div>

            <div class="row tab-content">

              <div class="container tab-pane fade {% if default_tab == 'main_study' %}show active{% endif %} p-4" id="main_study">

                <div class="mt-0 mb-3">
                  <div>
                    <small class="text-muted">
                      Created by
                      {{ display_names.get(study['owner'], study['owner']) }}
                      on
                      {{ study['created'].strftime('%m-%d-%Y') }}
                    </small>
                  </div>
                  <div class="mb-3">
                    <h3 class="h3 mb-0">{{ study['title'] }}</h3>
                    {% include 'studies/utils/study_configuration_badge.html' %}
                  </div>

                  <p class="mb-1">{{ study['description'] }}</p>
                  {% set owner = (user_id == study['owner']) %}
                  {% include 'studies/study/study_information.html' %}
                  {% include 'studies/study/study_parameters.html' %}
                </div>

                {% if "anonymous_user" in user_id %}
                  <div class="alert alert-info mt-4" role="alert">
                    <p class="text-start">
                      This study was created using an anonymous account. To access this study later, please save the following link with a "secret" access code:
                    </p>
                    <a href="{{ url_for('studies.anonymous_study', study_title=study['title'], user_id=user_id, secret_access_code=secret_access_code) }}" class="text-decoration-none small">
                      sfkit.org{{ url_for('studies.anonymous_study', study_title=study['title'], user_id=user_id, secret_access_code=secret_access_code) }}
                    </a>
                  </div>
                {% endif %}

                {% include 'studies/study/participants.html'%}

                <div class="mt-3" id="instructions">
                  {% if study["status"][user_id] == "" %}
                    {% if study["setup_configuration"] == "website" %}
                      <div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#configure_study_modal">Configure Study</button>
                        <div class="modal fade" id="configure_study_modal" tabindex="-1">
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="configure_study_modal_label">Configure your
                                  {{ study_type }}
                                  Study</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                              </div>
                              <div class="modal-body">
                                {% include 'studies/study/configure_study.html' %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt-2">
                        <form action="{{ url_for('studies.start_protocol', study_title=study['title']) }}" method="POST">
                          <button class="mt-2 btn btn-success" type="submit" onclick="loading(this);">
                            <div class="loading" style="display:none">
                              <span class="spinner-grow spinner-grow-sm" role="status"></span>
                              Loading...
                            </div>
                            <div class="normal-content">
                              Begin
                              {{ study_type }}
                              Workflow
                            </div>
                          </button>
                        </form>
                      </div>
                    {% else %}
                      <div class="text-start">
                        <p>
                          Once all participants have joined the study, and you have set the 'Study Parameters', you can proceed with the
                          <a class="text-decoration-none" href="https://sfkit.readthedocs.io/en/latest/tutorial.html#cli">sfkit Command-Line Interface (CLI)</a>
                          on your machine.
                        </p>
                        <p>
                          If you would like guidance on what size machine to use, see the
                          <a class="text-decoration-none" href=" {{url_for('general.instructions', _anchor='machine_recommendations')}} ">Machine Recommendations</a>
                          section in the instructions page.
                        </p>

                        <p>
                          Click below to download
                          <code>auth_key.txt</code>
                          which you will need on your machine to authenticate with the sfkit command-line interface.
                          <div class="text-center">
                            <a href="{{ url_for('studies.download_key_file', study_title=study['title']) }}" class="btn btn-primary btn-sm">Download Auth Key</a>
                          </div>
                        </p>
                      </div>
                    {% endif %}
                  {% else %}
                    <div>
                      <div id="waiting-div" class="text-start alert alert-primary" style="display: none">Waiting for other participants to be ready...</div>
                      <div class="task text-start"></div>
                      {% if parameters["SEND_RESULTS"]["value"] == "Yes" %}
                        <div id="download-div" style="display: none">
                          <a class="text-decoration-none" href="{{url_for('studies.download_results_file', study_title=study['title'])}}">
                            Download results
                          </a>
                        </div>

                        <div id="manhattan-div" class="mt-2" style="display: none;">
                          <img class="w-100 h-100" id="my-image" src="" alt="Reload page to view plot">
                          {% if study_type == "SF-GWAS" or study_type == "MPC-GWAS" %}
                            <label id="image-label" style="display: none;">Manhattan Plot</label>
                          {% else %}
                            <label id="image-label" style="display: none;">PCA Plot</label>
                          {% endif %}
                        </div>
                      {% endif %}
                      <div id="status-fail" class="text-start alert alert-danger" style="display: none"></div>
                    </div>
                  {% endif %}
                </div>

              </div>

              {% include 'studies/study/chat.html' %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    function loading(btn) {
      $(btn)
        .find(".loading")
        .show();
      $(btn)
        .find(".normal-content")
        .hide();
    }
  </script>

  <script type="module">
    // get the status updates and chat messages from firestore
    import {getStatusUpdates, getChatUpdates} from "/static/javascript/firestore.js";

    var doc_ref_dict = {{ study | tojson }};
    var study_title = doc_ref_dict['title']
      .toLowerCase()
      .replace(/\s/g, '');
    var user_id = {{ user_id | tojson }};

    getStatusUpdates(window.firestoreDatabase, study_title, user_id);

    var display_names = {{ display_names | tojson }};
    getChatUpdates(window.firestoreDatabase, study_title, user_id, display_names);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/save_page_state.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/copy_button.js') }}"></script>

{% endblock %}
