{% set study_id = study['title'] | replace(' ', '') %}

<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#studyInformation{{ study_id }}">
  Study Information
</button>

<div class="modal fade" id="studyInformation{{ study_id }}" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studyInformationLabel">
          Study Information:
          {{ study['title'] }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form action="{{ url_for('studies.study_information', study_title=study['title']) }}" method="POST">
        <div class="modal-body">
          <div class="text-start">
            <label for="study_description" class="col-sm-5 col-form-label">
              Study Description
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="study_description" value="{{ request.form['study_description'] or study['description'] }}" {% if not owner %} disabled="disabled" {% endif %}>
            </div>
            <p class="mt-1 text-start text-muted">
              One-line Description of Your Study.
            </p>
          </div>

          <div class="text-start">
            <label for="study_information" class="col-sm-5 col-form-label">
              Study Information
            </label>
            <div class="col-sm-7">
              <textarea type="text" class="form-control" name="study_information" id="study_information" rows="4" value="{{ request.form['study_information'] }}" {% if not owner %} disabled="disabled" {% endif %}>{{ study['study_information'] }}</textarea>
            </div>
            <p class="mt-1 text-start text-muted">
              Study Information: Any additional details you want to include. This can contain things like Motivation, Goals, and Data Sources.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {% if owner %}
            <button type="submit" class="btn btn-primary">Save changes</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
