{% extends 'base.html' %}
{% block title %}Study Start?{% endblock %}
{% block content %}
  <meta id="study-title-data" data-value="{{ study['title'] }}">
  <meta id="id-data" data-value="{{ g.user['id'] }}">
  <meta id="num-cpus-data" data-value="{{ request.form['NUM_CPUS'] or parameters['NUM_CPUS']['value'] }}">

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="p-5 bg-light rounded text-center">

            <div class="mt-0 mb-3">
              <span>
                <small class="text-muted">
                  Created by
                  {{ display_names.get(study['owner'], study['owner']) }}
                  on
                  {{ study['created'].strftime('%m-%d-%Y') }}
                </small>
              </span>
              <h2 class="fw-bold mb-0">{{ study['title'] }}</h2>
              <p class="lead text-muted mb-1">{{ study['description'] }}</p>
              {% set owner = (g.user['id'] == study['owner']) %}
              {% include 'studies/study/study_information.html' %}
              {% include 'studies/study/study_parameters.html' %}
            </div>

            {% include 'studies/study/participants.html'%}

            <div class="my-3" id="instructions">
              {% if study["setup_configuration"] == "website" %}
                {# {% if study["status"][g.user["id"]] == [""] or study["status"][g.user["id"]] == ["validating"] %}
                  <div class="mt-2">
                    <button type="button" class="mt-2 btn btn-success" data-bs-toggle="modal" data-bs-target="#vmConfig" disabled="disabled">
                      Begin
                      {{ study_type }}
                      Workflow
                    </button>
                    <p>You must finish configuring your study before you can begin the
                      {{ study_type }}
                      workflow</p>
                  </div> #}
                {% if study["status"][g.user["id"]] == ["not ready"] or study["status"][g.user["id"]] == [""] %}
                  <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#configure_study_modal">Configure Study</button>
                    <div class="modal fade" id="configure_study_modal" tabindex="-1">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="configure_study_modal_label">Configure your
                              {{ study_type }}
                              Study</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            {% include 'studies/study/instructions.html' %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% include 'studies/study/begin_workflow.html' %}
                {% else %}
                  <div>
                    <p class="text-start">
                      <b>Status of study:</b>
                    </p>
                    {% if ((["not ready"] in study["status"].values())or([""] in study["status"].values())or(["invalid data"] in study["status"].values())or(["validating"] in study["status"].values())) %}
                      <p>Waiting for others to be ready...</p>
                    {% else %}
                      <div class="status text-start"></div>
                      <p class="text-muted text-start">
                        (Optional) While the protocol is running, if you want a more detailed view into what the VM is doing, you can ssh into your VM and run the command
                        <code>sudo journalctl -u google-startup-scripts.service</code>
                        to see detailed logs.
                      </p>
                    {% endif %}
                    <form action="{{ url_for('studies.start_protocol', study_title=study['title']) }}" method="POST">
                      <button type="submit" class="btn btn-secondary">Check for update</button>
                    </form>
                  </div>
                {% endif %}
              {% else %}
                <div class="text-start">
                  <p>
                    Your authentication key should have downloaded. This
                    <code>auth_key.txt</code>
                    will be used on your machine to authenticate with the command-line interface. If it didn't download, you can download it by clicking the button below.
                    <div class="text-center">
                      <a href="{{ url_for('studies.download_key_file', study_title=study['title']) }}" class="btn btn-secondary btn-sm">Download Auth Key</a>
                    </div>
                  </p>
                  <p>
                    Please proceed with the sfkit command-line interface (CLI) tool on your machine. For more details, see the tutorial
                    <a class="text-decoration-none" href="https://sfkit.readthedocs.io/en/latest/tutorial.html#cli">here</a>.
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script>
    function loading() {
      $(".loading").show();
      $(".normal-content").hide();
    }
  </script>

  <script>
    $(document).ready(function () {
      $('#NUM_CPUS').val($('#num-cpus-data').data()['value']);
    });
  </script>

  <script type="module">
    // get the status updates from firestore
    import {getStatusUpdates} from "/static/javascript/firestore.js";

    var study_title = document
      .getElementById("study-title-data")
      .attributes["data-value"]
      .value
      .toLowerCase()
      .replace(/\s/g, '');

    getStatusUpdates(window.firestoreDatabase, study_title, window.user_id);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/save_page_state.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='javascript/copy_button.js') }}"></script>

  {% if study["setup_configuration"] == "user" and parameters["AUTH_KEY"]["value"] == "" %}
    <script>
      window.location.href = "{{ url_for('studies.download_key_file', study_title=study['title']) }}";
    </script>
  {% endif %}

{% endblock %}
