<meta id="id-data" data-value="{{ g.user['id'] if g.user else '' }}">

<li class="nav-item dropdown me-3">
  <button type="button" class="btn btn-outline-secondary position-relative nav-link" data-bs-toggle="dropdown">
    {{g.user['display_name']}}
    <span id="num_notifications" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
      0
    </span>
  </button>
  <ul id="notification_list" class="dropdown-menu dropdown-menu-end pt-1 pb-2" style='min-width: 300px;'>
    <li id="no_notifications">
      <span class="dropdown-item-text text-center">No new notifications</span>
    </li>
    <li id="all_notifications" class="dropdown-item-text text-center">
      <a class="text-decoration-none" href="{{url_for('general.profile', user_id=g.user['id'])}}">
        Profile
      </a>
    </li>
  </ul>
</li>
